// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// 全体共通
html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #d6f5eb;
}

.icon-circle {
  width: 20em;
  height: 20em;
}

.login-card-width {
  width: 35em;
  height: 38em;
}

.border-grey{
  border-color: rgba(0,0,0,.180);
}

#memo-title,#memo-content {
  width: 100%;
  padding: 0;
  margin: 0%;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
#memo-title {
  white-space: nowrap;
  min-height: 2em;
  font-size: 1.8em;
}

#memo-content {
  box-sizing: border-box;
  font-size: 1.2em;
  resize: none;
  overflow-y: auto;
  height: 85%;
}

#memo-content textarea {
  height: 100%;
}

#memo-menu {
  min-height: 1em;
  width: 100%;
  font-size: 1.8em;
  text-align: right;
}

.left-memo-menu {
  min-height: 2em;
}

.left-memo-list {
  overflow-y: auto;
  height: 85%;
  padding-bottom: 3em;
  word-break: break-all;
}